{# templates/Emails/product_review_accepted.html.twig #}

{% block subject %}
    Votre commentaire a été accepté
{% endblock %}

{% block body %}
    {% autoescape %}
        Votre commentaire ci-après a été accepté !

        > {{ review.getComment() }}
    {% endautoescape %}
{% endblock %}
